{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-warning m-5 pb-3 border-bottom border-danger border-5">Services</h1>


        <div class="row text-white text-center mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-3x mb-3 icon-color"></i>
                <h2>SEO</h2>
                <p  class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-palette fa-3x mb-3 icon-color"></i>
                <h2>Web Design</h2>
                <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-3x mb-3 icon-color"></i>
                <h2>Web Development</h2>
                <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            
            <div class="col-sm-4">
                <i class="fa-brands fa-android fa-3x mb-3 icon-color"></i>
                <h2>Android</h2>
                <p  class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-brands fa-apple fa-3x mb-3 icon-color"></i>
                <h2>Apple</h2>
                <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-rectangle-ad fa-3x mb-3 icon-color"></i>
                <h2>Advertisement</h2>
                <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            
            <div class="col-sm-4">
                <i class="fa-solid fa-pencil fa-3x mb-3 icon-color"></i>
                <h2>Logo Design</h2>
                <p  class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-3x mb-3 icon-color"></i>
                <h2>Hosting</h2>
                <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-headset fa-3x mb-3 icon-color"></i>
                <h2>Support</h2>
                <p class="text-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur, dicta quo corporis necessitatibus tenetur numquam consectetur ab architecto minus? </p>
            </div>

            



        </div>

    </div>



{% endblock content %}