<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    {% block corecss %}
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% endblock corecss %}
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                {% include 'core/nav.html' %}
            </div>

            <div class="col-sm-10"> 
                {% block content %}{% endblock content %}
            </div>
        </div>

    </div>



    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/fontawesome.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
</body>
</html>