{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-warning m-5 pb-3 border-bottom border-danger border-5">Contact</h1>

        <div class="row">
            <div class="col-sm-8">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputName4" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputName4" required>
                    </div>
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <input type="email" class="form-control" id="inputEmail4" required>
                    </div>
                    <div class="col-md-12">
                        <label for="inputName4" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="inputName4" required>
                    </div>
                    <div class="col-12">
                      <label for="inputMessage" class="form-label">Message</label>
                      <textarea name="message" class="form-control" id="inputMessage" cols="30" rows="10" required></textarea>
                    </div>

                    <div class="col-12 btn-space-between">
                        <button type="submit" class="btn btn-outline-success">Send</button>
                        <button type="reset" class="btn btn-outline-warning">Clear</button>
                    </div>
                    
                </form>
            </div>
            
            <div class="col-sm-3 offset-sm-1">
                <ul class="text-center list-unstyled">
                    <li class="m-5">
                      <i class="fa-solid fa-location-dot fa-3x icon-color mb-4"></i>
                      <p class="font-size-opt">Mumbai, Delhi, Bengalore</p>
                    </li>
                    <li class="m-5">
                      <i class="fa-solid fa-phone fa-3x icon-color mb-4"></i>
                      <p class="font-size-opt">110-2345-1341</p>
                    </li>
                    <li class="m-5">
                      <i class="fa-solid fa-envelope fa-3x icon-color mb-4"></i>
                      <p class="font-size-opt">Contact@gmail.com</p>
                    </li>
                </ul>
            </div>
                
        </div>

        <div class="text-center m-5">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook-square fa-3x m-3"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter-square fa-3x m-3"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram fa-3x m-3"></i></a>
            <a href="https://whattsapp.com"><i class="fa-brands fa-whatsapp fa-3x m-3"></i></a>
        </div>
    </div>



{% endblock content %}