{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-warning m-5 pb-3 border-bottom border-danger border-5">Profile</h1>

    </div>

    <div class="text-center mt-5">
        <img src="{% static 'core/images/Himanshu.jpeg' %}" alt="ProfilePic" class="img-fluid border border-info border-5 rounded-circle" width=200px height=100px>
    </div>


    <div class="mx-5 text-white">
        <h1 class="font-weight-bold font-satisfy">Hello, </h1>

        <div class="p-3 text-justify" style="line-height: 2rem">
            <p style="text-indent:100px;">
                Lorem ipsum dolor, <b class="text-warning">Himanshu Singh</b> sit amet consectetur adipisicing elit. Quidem atque vitae beatae totam dolorem iste! Inventore odio explicabo officia ad quos aliquid enim, expedita autem beatae aperiam voluptatibus recusandae ipsa itaque blanditiis error ipsum in dolorum et voluptatem ullam deserunt quis quo alias? Explicabo, fugit. Corrupti incidunt eaque eos quod?
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum illo illum soluta quam numquam voluptas delectus architecto autem et nam sequi voluptate quaerat deserunt eum quibusdam esse quod, corporis facilis, alias explicabo fuga culpa aliquid? Aliquid corrupti tempora corporis error voluptatem tenetur reprehenderit nisi sapiente dicta vel, aspernatur magnam tempore eius quaerat ea ipsa ut nobis cupiditate quos accusantium! Beatae minima, veritatis ex rem nisi eius, deserunt quam iusto aut earum voluptate reprehenderit aliquid quas, modi esse nemo eos? Beatae, dolorum. Magni eum mollitia, consequatur laudantium earum facere odio dolore nemo rem minus molestiae quasi voluptatum voluptas iusto. Debitis, ab.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda quisquam alias cumque laborum, possimus, ut eaque nemo vel voluptate inventore deserunt dolores doloribus perspiciatis iste minus fugit blanditiis quam voluptates libero deleniti. Voluptatem inventore beatae similique temporibus porro repellendus ex dolorum corrupti a modi? Aut unde voluptatibus culpa esse illo voluptatem saepe, itaque natus delectus incidunt in nesciunt possimus cupiditate voluptatum temporibus quisquam laboriosam. Quibusdam aperiam doloremque quisquam commodi porro eligendi, laborum voluptates eum ipsam alias? Excepturi fugit et quos!</p>
        </div>
    </div>

    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-success m-5 ">Contact</a>
        <a href="{% url 'skill' %}" class="btn btn-outline-info m-5">Skills</a>
        <a href="{% url 'service' %}" class="btn btn-outline-warning m-5">Services</a>


    </div>

{% endblock content %}