{% load static %}

<div class="border border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/Himanshu.jpeg' %}" alt="ProfilePic" class="image-fluid rounded-circle mt-5" height="120px" width="110px">

        <h3 class="text-white m-3 font-satisfy">Himanshu Singh</h3>
    </div>

    <hr class="border-top border-warning border-4">
    <nav class="nav flex-column text-center">
        <a href="{% url 'home' %}" class="nav-link {{home}}">Home</a>
        <a href="{% url 'service' %}" class="nav-link {{service}}">Services</a>
        <a href="{% url 'skill' %}" class="nav-link {{education}}">Skill</a>
        <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
    </nav>

</div>