/* Font Family */

.font-satisfy {
    font-family: 'Satisfy', cursive;
}

.font-size-opt {
    font-size: 15px;
}

a.nav-link {
    color: whitesmoke;

}

a.nav-link:hover {
    color: black;
    background-color: yellow;
}

a.nav-link:active {
    color: black;
    background-color: lightgreen;
    font-weight: bold;
}

/* home */
body {
    height: 100%;
}

.container-fluid {
    min-height: 100%;
}

/* .btn-space-between */
.btn-space-between {
    display: flex;
    justify-content: space-between;
}

/* Service Template Icom */
.icon-color {
    color: chartreuse;
}

/* Service Template Text */
.text-color {
    color: whitesmoke;
}