{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-warning m-5 pb-3 border-bottom border-danger border-5">Skill</h1>

        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5 mb-4">HTML/CSS</h3>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progress-bar" style="width:100%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">100%</div>
                </div>
            </div>

            <div class="col-sm-5 offset-sm-1">
                <h3 class="mt-5 mb-4">Python</h3>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progress-bar" style="width:100%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">100%</div>
                </div>
            </div>

            
            <div class="col-sm-5">
                <h3 class="mt-5 mb-4">MySQL</h3>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progress-bar" style="width:100%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">100%</div>
                </div>
            </div>

            <div class="col-sm-5 offset-sm-1" >
                <h3 class="mt-5 mb-4">Django</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progress-bar" style="width:90%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90">90%</div>
                </div>
            </div>


            <div class="col-sm-5">
                <h3 class="mt-5 mb-4">MongoDB</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progress-bar" style="width:10%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="10">10%</div>
                </div>
            </div>

            <div class="col-sm-5 offset-sm-1">
                <h3 class="mt-5 mb-4">Bootstrap</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progress-bar" style="width:40%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="40">40%</div>
                </div>
            </div>


        </div>
    
    </div>
{% endblock content %}